.lt_product {
    position: relative;
}

.lt_sort li {
    float: left;
    height: 30px;
    background: #eee;
    text-align: center;
    width: 25%;
    font-size: 12px;
    line-height: 30px;
}

.lt_sort li a {
    color: #666
}

.lt_sort li.now a{
    color: darkorange;
}

.loading {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid #069;
    z-index: 666;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    animation: play 1s infinite ease-in-out ;
}

@keyframes play {
    from {
        transform:translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}