@charset "UTF-8";

html,body {
  height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.body_bg {
  background-color: #222d32;
}

.mt_150 {
  margin-top: 150px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* 侧边栏 */
.lt_aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background: #222d32;
  transition: all 1s;
}

.lt_aside.now {
  margin-left: -180px;
}

.lt_aside .brand a{
  display: block;
  height: 50px;
  text-align: center;
  background: #367fa9;
  font-size: 24px;
  color: #fff;
  line-height: 50px;
}

.lt_aside .user {
  margin-top: 50px;
  text-align: center;
}

.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.lt_aside .user p {
  line-height: 40px;
  font-size: 16px;
  color:  #fff;
}

.lt_aside .nav {
  width: 180px;
  margin-top: 30px;
}

.lt_aside .nav li {
  width: 180px;
  text-align: center;
  /* margin-left: -15px; */
}


.nav li a {
  display: block;
  height: 40px;
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  border: 3px solid transparent;
}

.nav li a.now
{
  border-left-color: #069;
  background-color: #1d1f21;
  color: #fff;
}

/* 主体 */
.lt_main {
  height: 100%;
  margin-left: 180px;
  transition: all 1s;
}

.lt_main.now {
  margin-left: 0;
}

.lt_header {
  width: 100%;
  height: 50px;
  background: #3c8dbc;
  padding: 0 20px;
  line-height: 50px;
  font-size: 16px;
  margin-bottom: 20px;
}

.lt_header a {
  color: #fff;
}

.breadcrumb {
  margin-bottom: 20px;
}

.lt_conter {
  margin: 0 20px;
}

#charts1,
#charts2 {
  width: 45%;
  height: 400px;
}

.lt_conter table {
  max-width: 100%;
  width: 100%;
  border: 1px solid #ccc;
}

.lt_conter table th ,
.table.table-bordered  td
{
  text-align: center;
  vertical-align: middle;
}

.addBtn {
  margin-bottom: 20px;
  margin-left: 20px;
}

